/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 62.5%;
}
/* =10px */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.content-box-margins-padding {
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  align-content: center;
  margin: auto;
  width: 100%;
  background-color: #efefed;
}
@media screen and (min-width: 1300px) {
  .main-container {
    width: 1200px;
  }
}
.main-container .resume-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.main-container .resume-heading .fa-user-circle {
  margin: 3.5rem 0 3.5rem 0;
}
.main-container .resume-heading .person-name {
  font-size: 4rem;
  color: #161911;
  margin: 0 0 2rem 0;
}
.main-container .resume-heading .person-title {
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
  color: #161911;
  width: 95%;
  border-top: solid 0.075rem #99794b;
  border-bottom: solid 0.075rem #99794b;
}
.main-container .resume-content-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  font-size: 1.5rem;
  color: #161911;
}
.main-container .resume-content-container .content-separator {
  margin: auto;
  border-top: solid 0.075rem #99794b;
  width: 95%;
}
.main-container .resume-content-container .resume-content {
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
}
.main-container .resume-content-container .resume-content h2 {
  text-align: center;
  padding: 0 0 1rem 0;
}
.main-container .resume-content-container .resume-content .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .resume-content-container .resume-content .contact-container .contact-icons {
  background-color: #666565;
  width: 70%;
}
