/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIouWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwK4vWqZPBQ.ttf) format('truetype');
}
body {
  font-size: 62.5%;
}
/* =10px */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.content-box-margins-padding {
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
}
.skills-container-styling {
  text-align: center;
  width: 45%;
  background-color: #DBCDAF;
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
}
@media screen and (max-width: 500px) {
  .skills-container-styling {
    width: 90%;
  }
}
.raleway-regular {
  font-family: Raleway;
  font-weight: 400;
}
.raleway-medium {
  font-family: Raleway;
  font-weight: 500;
}
.raleway-semi-bold {
  font-family: Raleway;
  font-weight: 600;
}
.raleway-bold {
  font-family: Raleway;
  font-weight: 700;
}
.raleway-extra-bold {
  font-family: Raleway;
  font-weight: 800;
}
.raleway-black {
  font-family: Raleway;
  font-weight: 900;
}
.playfair-regular {
  font-family: Playfair Display SC;
  font-weight: 400;
}
.playfair-bold {
  font-family: Playfair Display SC;
  font-weight: 700;
}
.playfair-black {
  font-family: Playfair Display SC;
  font-weight: 900;
}
.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  width: 100%;
  background-color: #efefed;
}
@media screen and (min-width: 1300px) {
  .main-container {
    width: 1200px;
  }
}
.main-container .resume-heading {
  margin: auto display: flex; flex-direction: column;;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.main-container .resume-heading .fa-user-circle {
  margin: 3.5rem 0 3.5rem 0;
}
.main-container .resume-heading .person-name {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 4rem;
  color: #161911;
  margin: 0 0 2rem 0;
}
.main-container .resume-heading .person-title {
  font-family: Playfair Display SC;
  font-weight: 400;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 2rem;
  color: #161911;
  width: 95%;
  border-top: solid 0.075rem #99794b;
  border-bottom: solid 0.075rem #99794b;
}
.main-container .resume-content-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  font-weight: 400;
  justify-content: space-evenly;
  width: 95%;
  font-size: 1.5rem;
  color: #161911;
}
.main-container .resume-content-container .content-separator {
  margin: auto;
  border-top: solid 0.075rem #99794b;
  width: 95%;
}
.main-container .resume-content-container .skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-container .resume-content-container .skills-container .soft-skills {
  text-align: center;
  width: 45%;
  background-color: #DBCDAF;
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
}
@media screen and (max-width: 500px) {
  .main-container .resume-content-container .skills-container .soft-skills {
    width: 90%;
  }
}
.main-container .resume-content-container .skills-container .hard-skills {
  text-align: center;
  width: 45%;
  background-color: #DBCDAF;
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
}
@media screen and (max-width: 500px) {
  .main-container .resume-content-container .skills-container .hard-skills {
    width: 90%;
  }
}
.main-container .resume-content-container .skills-container h2 {
  width: 100%;
}
.main-container .resume-content-container .skills-container .skills-content-separator {
  margin: auto;
  border-top: solid 0.075rem #161911;
  width: 95%;
  padding: 0 0 1rem 0;
}
.main-container .resume-content-container .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .resume-content-container .resume-content {
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
}
.main-container .resume-content-container .resume-content h2 {
  font-family: Playfair Display SC;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 0 0 2rem 0;
}
